/* French version */

#accueil_2017_en-tete {
    background-image: none !important;
}

.mw-article-toolbar-container {
    background: none !important;
}

#mw-head {
    height: 40px !important;
}

#mw-panel-toc {
    background-color: #222 !important;
    border: 1px solid #666 !important;
}

#mw-panel-toc::after {
    background: none !important;
}

.mw-body {
    margin-top: 1px !important;
    border-top: none;
}

.bandeau-section {
    background-color: #333 !important;
    border: 1px solid #666 !important;
 }

.autres-projets {
    background-color: #333 !important;
    border: 1px solid #666 !important;
}

.vector-toc {
    background-color: #222 !important;
    border: none;
}

.bandeau-container {
    background-color: #222 !important;
    color: #ddd !important;
}


.mw-widget-dateInputWidget-handle,
.oo-ui-widget,
.uls-search,
.uls-language-list,
#uls-settings-block,
.legendtextlike,
.wvui-input__input,
.wvui-button,
.wvui-typeahead-search__suggestion,
.wvui-typeahead-suggestion__title,
.wvui-typeahead-search__suggestions__footer {
    background-color: #333 !important;
    color: #ddd !important;
}

#mw-sidebar-button {
    background-color: #ddd !important;
}

#p-personal {
    filter: invert(90%);
}

.wvui-typeahead-suggestion__thumbnail {
    background-color: #aaa !important; /* Temporary filling while fixing the thumbnail previews in searchbar */
}

#mw-panel.mw-sidebar {
    background: #222 !important;
}

.uls-lcd, #uls-settings-block, #search.uls-search {
    background-color: #444 !important;
    color: #eee !important;
}

.bloc {
    background-color: #444 !important;
}

#left-navigation {
    margin-left: 0 !important;
}

.vector-toc, .vector-toc::after {
    background: #222 !important;
}