/*      Made by Sleezzi
    Copyright © Sleezzi - 2022 - All right reserved
    website: sleezzi.github.io
    discord: https://discord.gg/kzpUQaNqyV
 */

body, #cnt {
    background: #333;
    color: white;
}

#gb, div[role="contentinfo"], .sfbg, #appbar, .MjjYud > div {
    background: transparent !important;
}

.k8XOCe, .RNNXgb {
    transition: background 0.3s;
}
  .k8XOCe:hover, .RNNXgb:hover {
    background: #555 !important;
}