.ZQftYELq0aOsg6tPbVbV, .sqKERfoKl4KwrtHqcKOd {
	background: #111 !important;
}

.EZFyDnuQnx5hw78phLqP, .LunqxlFIupJw_Dkx6mNx,
.OTfMDdomT5S7B5dbYTT8 > aside, .HkbHLcqgUfXruL5xVi28 {
	background: #222;
}
.facDIsOQo9q7kiWc4jSg, .T1xI1RTSFU7Wu94UuvE6, .Q2RPoHcoxygOoPLXLMww,
.L9xhJOJnV2OL5Chm3Jew, .os-padding:nth-child(2) .os-content,
.fVB_YDdnaDlztX7CcWTA, #searchPage, .contentSpacing,
.umiKMm5NVr5UeBJCHS6U {
	background: #333;
}
.kGR_hu4tdj9PnUlSPaRL > .Type__TypeElement-sc-goli3j-0 {
	color: #AAA;
}